{% import "shared/elements.twig" as elements %}
{% import "shared/forms.twig" as forms %}


<div class="contentHolder">
    <div class="content">

        {# Main page data #}
        {% block content %}{% endblock %}

    </div>
</div>

{% block javascript %}
{% endblock %}