{% verbatim %}

<!-- Base pagination -->
<template id="pagination">
	<div class="pagination">
		<a class="arrow left disabled" href="#" data-event="click: pagination.previous"></a>
		<div class="pages">
			<div class="pagesSlider"></div>
		</div>
		<a class="arrow right" href="#" data-event="click: pagination.next"></a>
	</div>
</template>

<!-- Pagination scroll -->
<temlate id="pagination-scroll">
	<div class="scrollLine" data-event="click: pagination.scrollTo" >
		<div class="runner"  data-event="mousedown: pagination.grab"></div>
	</div>
</temlate>

<!-- Pagination page -->
<template id="pagination-page">
	<a href="#" data-event="click: pagination.setPage({{ page }})" data-page="{{ page }}" {% if page == current %}class="active"{% endif %}>{{ page }}</a>
</template>

{% endverbatim %}