{% verbatim %}

<!-- Base pagination -->
<script type="text/template" id="pagination">
	<div class="pagination">
	    {% if arrows %}
		<a class="arrow left disabled" href="#" data-event="click: pagination.previous"></a>
		{% endif %}
		<div class="pages">
			<div class="pagesSlider"></div>
		</div>
	    {% if arrows %}
		<a class="arrow right" href="#" data-event="click: pagination.next"></a>
		{% endif %}
	</div>
</script>

<!-- Pagination scroll -->
<script type="text/template" id="pagination-scroll">
	<div class="scrollLine" data-event="click: pagination.scrollTo" >
		<div class="runner"  data-event="mousedown: pagination.grab"></div>
	</div>
</script>

<!-- Pagination page -->
<script type="text/template" id="pagination-page">
	<a href="#" data-event="click: pagination.setPage({{ page }})" data-page="{{ page }}" {{ (page==current)|addClass('active') }}>{{ page }}</a>
</script>

{% endverbatim %}