<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{ preferences.site.name }} | 404</title>
	<link rel="stylesheet" href="{{ "404.css"|url("css") }}" type="text/css"/>
</head>
<body>
	<div class="info">
		<h1>404 :(</h1>
		Страницы <b>{{ page }}</b> не существует
	</div>
</body>
</html>