@import "variables";
@import "fieldset";
@import "inputs";
@import "labels";
@import "buttons";
@import "selectReplace";
@import "../library/library";

form {
  font-size : @fontSize;
  overflow  : auto;
  display   : block;
  &.disabled input[type=submit] {
    #buttons.disabled();
  }
  h1, h2 {
    white-space : nowrap;
    padding     : @upDownMargin @leftRightMargin;
    background  : #eeeeee;
    font-size   : 20px;
    color       : #666666;
  }
}

.button {
  #buttons.button(@elementsUpDownPadding; @elementsLeftRightPadding; @fontSize; @labelsSpace);
  #buttons.colors(@library_colors_interactive; #ffffff);
}