// Variables
@leftRightMargin : 25px;
@upDownMargin : 15px;
@labelsSpace : 10px;
@elementsUpDownPadding : 10px;
@elementsLeftRightPadding : 10px;
@fontSize : 16px;
@upperNameSpacing : 5px;
@inputWidth: 250px;