<!-- Holds add files form -->
<script type="text/template" id="sketches-add-window">
    <form data-event="submit: sketches.addSubmit">
        <input type="hidden" name="id" value="{{ albumId }}" />
        <h1>Загрузить</h1>
        <p>Изображения, 2Гб максимум, неск. файлов через shift, ctrl или cmd</p>
        <fieldset style="min-width: 350px;">
            <label>
                <span class="name"></span>
                <input name="photos" type="file" title="Выберите файл(ы)" multiple="multiple" data-validate="required">
            </label>
        </fieldset>
        <fieldset class="submit">
            <input type="submit" value="Загрузить" class="button">
        </fieldset>
    </form>
</script>